{
	"base_url": "https://api.openai.com/v1",
	"key": "sk-...",
	"model": "gpt-4o",
	"audio_model": "tts-1",
	"audio_voice": "alloy",
	"system_prompt": "You are a helpful agent!",
	"timeout": 300,
	"max_tokens": 200
}
